/*header homepage*/

.header{
    display: flex;
    justify-content: center;
    margin-top : 20px;
    margin-bottom : 20px ;
    background-color: white;
    &__logo{
      height: 30px;
}
}

/*header pages menu*/

.header__menu{
  display: flex;
  margin-top : 20px;
  align-items: center;
   justify-content: center;
   background-color: white;
   margin-bottom : 10 ,npx;

    &__return{
      display: flex;
      position: absolute;
      left: 2rem;
      align-items: center;
      justify-content: center; 
   }
    &__logo{
     height : 30px;
    
}
}









