@charset "UTF-8";
h1 {
  font-family: "Shrikhand", "cursive";
}

body, h2, h3 {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main {
  background-color: #F2F2F2;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 18px;
  font-weight: lighter;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/*boutons explorer et commander*/
button {
  border-radius: 100px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  padding: 15px 0 15px 0;
  max-width: 100%;
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px #BDBDBD;
  transition: transform 400ms;
  font-size: 16px;
  margin: 20px 0 40px 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
button:hover {
  box-shadow: 0px 5px 10px 0px #676767;
  opacity: 0.8;
}

/*coeur remplissage */
.empty {
  position: absolute;
  font-size: 25px;
  opacity: 1;
}
.empty:hover {
  cursor: pointer;
  opacity: 0;
}

.full {
  position: absolute;
  font-size: 25px;
  opacity: 0;
}
.full:hover {
  cursor: pointer;
  opacity: 1;
  background: -webkit-linear-gradient(300deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  background-color: #3b3b3b;
  color: white;
  padding-bottom: 20px;
}
.footer__title {
  margin-left: 20px;
  padding-top: 20px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
  line-height: 1.7;
}
.footer__list__icon {
  margin-right: 10px;
  font-size: 15px;
}
.footer__list__icon2 {
  margin-right: 10px;
  font-size: 10px;
}

@media screen and (min-width: 992px) {
  .footer__title {
    display: flex;
    justify-content: center;
  }
  .footer__list {
    justify-content: center;
    margin-right: 20px;
  }
}
/*header homepage*/
.header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}
.header__logo {
  height: 30px;
}

/*header pages menu*/
.header__menu {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 10, npx;
}
.header__menu__return {
  display: flex;
  position: absolute;
  left: 2rem;
  align-items: center;
  justify-content: center;
}
.header__menu__logo {
  height: 30px;
}

/*section intro*/
.intro {
  display: flex;
}
.intro__img {
  max-width: 100%;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/*section menu*/
.menu {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  border-radius: 30px;
  position: relative;
  width: 100%;
  margin-top: -50px;
}
.menu__heading {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.menu__heading__name {
  font-size: 26px;
  padding-left: 15px;
}
.menu__heading__heart {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-right: 30px;
}
.menu__list__title {
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
  margin: 0;
}
.menu__list__box__description {
  display: flex;
  overflow: hidden;
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  margin: 15px 15px 15px 15px;
}
.menu__list__box__description__detail {
  flex-direction: column;
  width: 80%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  row-gap: 5px;
}
.menu__list__box__description__detail__title {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__list__box__description__detail__subtitle {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__list__box__description__price {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0;
}
.menu__ordered {
  display: flex;
  justify-content: center;
}
.menu__ordered__button {
  width: 200px;
}

@media all and (min-width: 992px) {
  .cardglobal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
  }
  .card {
    width: 30%;
    max-width: 30%;
  }
}
/*reservation restaurant*/
.reservation {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.reservation__map {
  display: flex;
  background-color: #e5e5e5;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  border-top: solid #bfbfbf;
}
.reservation__map__icon {
  padding-right: 20px;
}
.reservation__map__text {
  font-weight: bold;
}
.reservation__research {
  display: flex;
  background-color: #F2F2F2;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.reservation__research__title {
  font-weight: bold;
  font-size: 22px;
  padding: 20px 60px 0 60px;
  margin: 0;
}
.reservation__research__subtitle {
  margin: 20px 20px 20px 20px;
}
.reservation__research__explor {
  width: 250px;
}

/*fonctionnement*/
.operation {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 60px 20px;
  background-color: white;
  border-radius: 0;
}
.operation__title {
  font-weight: bold;
  font-size: 22px;
}
.operation__steps {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.operation__steps__box {
  box-shadow: 0px 5px 10px 0px #BDBDBD;
  border-radius: 15px;
  cursor: pointer;
  background-color: #F2F2F2;
  padding: 15px 0 15px 0;
}
.operation__steps__box:hover {
  background-color: #eadbf8;
}
.operation__steps__box__number {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: #9356DC;
  justify-content: center;
  font-size: 12px;
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: -10px;
}
.operation__steps__box__iconstep {
  width: 20px;
  height: 20px;
  color: #757575;
  margin-left: 30px;
  margin-right: 10px;
}
.operation__steps__box__text {
  font-weight: bold;
}

.operation__steps__box:hover .iconstep {
  color: #9356DC;
}

@media screen and (min-width: 992px) {
  .operation {
    flex-direction: column;
  }
  .operation__steps {
    flex-direction: row;
    width: 100%;
    gap: 30px;
  }
  .operation__steps__box {
    width: 33%;
  }
}
/*restaurant*/
.restaurant {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 60px;
}
.restaurant__title {
  margin-left: 10px;
  font-size: 22px;
  font-weight: bold;
  margin-left: 20px;
}
.restaurant__global {
  flex-direction: column;
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  row-gap: 20px;
}
.restaurant__global__presentation {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569);
  transition: 1000ms;
  position: relative;
}
.restaurant__global__presentation__picture__img {
  display: flex;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  width: 100%;
  margin: 0;
  max-height: 200px;
  height: 200px;
}
.restaurant__global__presentation__picture__new {
  background-color: #99E2D0;
  color: #489284;
  padding: 10px 15px 10px 15px;
  border-radius: 0.125rem;
  position: absolute;
  font-weight: bold;
  right: 15px;
  top: 10px;
}
.restaurant__global__presentation__picture__description {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.5;
}
.restaurant__global__presentation__picture__description__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.restaurant__global__presentation__picture__description__content__title {
  font-weight: bold;
  padding-left: 15px;
  margin: 0;
}
.restaurant__global__presentation__picture__description__content__subtitle {
  padding-left: 15px;
  margin: 0;
}
.restaurant__global__presentation__iconheart {
  display: flex;
  position: absolute;
  bottom: 50px;
  right: 40px;
}

@media screen and (min-width: 992px) {
  .restaurant__global {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-between;
  }
  .restaurant__global__presentation {
    width: 48%;
  }
}
/*marges intérieures box*/ /*animation arrivée progressive plats des menus*/
.anim--0 {
  animation-delay: 0s;
}
.anim--1 {
  animation-delay: 10s;
}
.anim--2 {
  animation-delay: 0.4s;
}

@keyframes progress {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*animation rotation du check*/
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/*spinner*/
.loader {
  margin: auto;
  border: 10px solid white;
  border-radius: 50%;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  width: 50px;
  height: 50px;
  animation: spinner 2s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*cards et cellules menus */
.card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0 15px 50px 15px;
  background-color: #F2F2F2;
}

.effect {
  display: flex;
  box-shadow: 0px 5px 10px 0px #BDBDBD;
  border-radius: 15px;
  cursor: pointer;
  background-color: white;
  animation: progress ease-in-out 0.8s;
  animation-fill-mode: both;
  overflow: hidden;
}

.check {
  width: 0;
  background-color: #99e2d0;
  transform-origin: left;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
  transition: 400ms;
  border-radius: 0 15px 15px 0;
  font-size: 30px;
}

.effect:hover .check {
  width: 60px;
  transition: 400ms;
}

.effect:hover .fa-circle-check {
  animation-name: rotate;
  animation-duration: 400ms;
}

/*# sourceMappingURL=style.css.map */
