@charset "UTF-8";
h1, h2, h3 {
  font-family: "Shrikhand", "cursive";
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main {
  background-color: #F2F2F2;
}

p {
  font-size: 14px;
}

h1 {
  font-size: 18px;
  font-weight: lighter;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/*boutons explorer et commander*/
button {
  border-radius: 100px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  padding: 15px 0 15px 0;
  width: 250px;
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px #BDBDBD;
  transition: transform 400ms;
  font-size: 16px;
  margin: 40px 0 40px 0;
  display: flex;
  justify-content: center;
}
button:hover {
  box-shadow: 0px 5px 10px 0px #676767;
  opacity: 0.8;
}

/*cards et cellules menus */
.card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px 15px 50px 15px;
}

.box {
  display: flex;
  box-shadow: 0px 5px 10px 0px #BDBDBD;
  border-radius: 15px;
  cursor: pointer;
  background-color: white;
  animation: progress 1s ease both;
  justify-content: space-between;
  flex-direction: row;
  line-height: 25px;
  position: relative;
}

.footer {
  background-color: #3b3b3b;
  color: white;
  padding-bottom: 20px;
}
.footer__title {
  margin-left: 20px;
  padding-top: 20px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
  line-height: 1.7;
}
.footer__list__icon {
  margin-right: 10px;
  font-size: 15px;
}
.footer__list__icon2 {
  margin-right: 10px;
  font-size: 10px;
}

/*header homepage*/
.header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}
.header__logo {
  height: 30px;
}

/*header menu*/
.header__menu {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.header__menu__return {
  display: flex;
  position: absolute;
  left: 2rem;
  align-items: center;
  justify-content: center;
}
.header__menu__logo {
  height: 30px;
}

/*section intro*/
main {
  display: block;
}

.intro {
  display: flex;
}
.intro__img {
  width: 100%;
}

/*section menu*/
.menu {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  border-radius: 20px;
  position: relative;
  width: 100%;
  margin-top: -50px;
}
.menu__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 30px 0 15px;
}
.menu__heading__name {
  font-size: 26px;
}
.menu__list {
  background-color: #F2F2F2;
}
.menu__list__title {
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
  margin: 0;
}
.menu__list__box__dish {
  display: flex;
  flex-direction: column;
  padding: 15px 0 15px 15px;
}
.menu__list__box__dish__title {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}
.menu__list__box__dish__detail {
  margin: 0;
}
.menu__list__box__price {
  display: flex;
  align-items: flex-end;
}
.menu__list__box__price__€ {
  padding-bottom: 15px;
  font-weight: bold;
  padding-right: 15px;
}
.menu__ordered {
  display: flex;
  justify-content: center;
}

.btnheart {
  position: absolute;
}
.btnheart__heartempty {
  position: relative;
  cursor: pointer;
}
.btnheart__heartfull {
  background: -webkit-linear-gradient(bottom, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  position: absolute;
  transition: 500ms;
  cursor: pointer;
}
.btnheart__heartfull:hover {
  opacity: 1;
}

.check {
  display: flex;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  width: 65px;
  margin: 0;
  color: white;
  justify-content: center;
  align-items: center;
  float: right;
}
.check:hover {
  margin-right: 0px;
}

.fa-circle-check {
  font-size: 20px;
  transform: rotate(0);
}

/*General*/
.reservation {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.reservation__map {
  display: flex;
  background-color: #e5e5e5;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  border-top: solid #bfbfbf;
}
.reservation__map__icon {
  padding-right: 20px;
}
.reservation__map__text {
  font-weight: bold;
}
.reservation__research {
  display: flex;
  background-color: #F2F2F2;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.reservation__research__title {
  font-weight: bold;
  font-size: 22px;
  padding: 20px 60px 0 60px;
  margin: 0;
}
.reservation__research__subtitle {
  margin: 20px 20px 0 20px;
}

.homepage {
  background-color: white;
  border-radius: 0;
}
.homepage__title {
  font-weight: bold;
  margin-left: 20px;
  font-size: 22px;
}
.homepage__steps {
  display: flex;
  box-shadow: 0px 5px 10px 0px #BDBDBD;
  border-radius: 15px;
  cursor: pointer;
  background-color: #F2F2F2;
  padding: 15px 0 15px 0;
}
.homepage__steps:hover {
  background-color: #eadbf8;
}
.homepage__steps__number {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: #9356DC;
  justify-content: center;
  font-size: 12px;
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: -10px;
}
.homepage__steps__icon {
  width: 20px;
  height: 20px;
  color: #757575;
  margin-left: 30px;
  margin-right: 10px;
}
.homepage__steps__text {
  font-weight: bold;
}

.homepage__steps:hover .iconstep {
  color: #9356DC;
}

.restaurant {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 60px;
}
.restaurant__title {
  margin-left: 10px;
  font-size: 22px;
  font-weight: bold;
  margin-left: 20px;
}
.restaurant .imagecards {
  flex-direction: column;
  display: flex;
  row-gap: 20px;
}
.restaurant .imagecards__restaurant {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569);
  transition: 1000ms;
  margin-right: 20px;
  margin-left: 20px;
}
.restaurant .imagecards__restaurant__img {
  display: flex;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  width: 100%;
  margin: 0;
  max-height: 250px;
  height: 250px;
}
.restaurant .imagecards__restaurant__new {
  background-color: #99E2D0;
  color: #489284;
  padding: 10px 15px 10px 15px;
  border-radius: 0.125rem;
  position: absolute;
  font-weight: bold;
  right: 30px;
  margin-top: 15px;
}
.restaurant .imagecards__restaurant__description {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.restaurant .imagecards__restaurant__description__content {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
  flex: 1;
  line-height: 1.5;
}
.restaurant .imagecards__restaurant__description__content__title {
  font-weight: bold;
  padding-left: 15px;
  margin: 0;
}
.restaurant .imagecards__restaurant__description__content__subtitle {
  padding-left: 15px;
  margin: 0;
}
.restaurant .imagecards__restaurant__description__content__heartempty {
  opacity: 1;
  color: #99E2D0;
}

/*marges intérieures box*/ /*animation arrivée progressive plats des menus*/
.anim--0 {
  animation-delay: 0s;
}
.anim--1 {
  animation-delay: 0.1s;
}
.anim--2 {
  animation-delay: 0.2s;
}
.anim--3 {
  animation-delay: 0.3s;
}
.anim--4 {
  animation-delay: 0.4s;
}
.anim--5 {
  animation-delay: 0.5s;
}
.anim--6 {
  animation-delay: 0.6s;
}
.anim--7 {
  animation-delay: 0.7s;
}
.anim--8 {
  animation-delay: 0.8s;
}

@keyframes progress {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
