/*section intro*/

.intro{
  display: flex ;
  &__img{
    width : 100%; 
  }
}

/*section menu*/
  .menu{
    display: flex;
    flex-direction: column;
    background-color :$color-cards;
    border-radius: 20px;
    position: relative;
    width : 100% ;
    margin-top : -50px ;
    &__heading{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      &__name{
        font-size: 26px;
        padding-left : 15px ;
      }
      &__heart{
      align-items: center;
        display: flex;
        justify-content: center;
        padding-right : 30px;
     }
    }  
   &__list{
    &__title{
      text-transform: uppercase;
      border-bottom: 3px solid $color-tertiary;
      width : 40px;
      padding-bottom: 5px;
      margin: 0; 
    }
    &__box{
      
      &__description{
        display: flex;
        flex-direction: column;
        width : 100% ;
       
        
        &__title {
          font-weight: bold;
          font-size: 16px;
          padding : 15px 0 0 15px;
          
       } 
        &__detail {
          flex-direction: row;
          padding : 5px 15px 15px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
         
         
          &__subtitle{
            margin : 0;
          padding : 0;
          }
          &__price{
            font-weight: bold;
            margin : 0;
          }
        } 
      }
    } 
  }
   &__ordered{
    display: flex;
    justify-content: center;
  }
}














  
    
     
  
 
  
        
    
  
  
    
     
             
       
        
         
        
             
              
                      
         
          
            



  
 




 

  