/*animation arrivée progressive plats des menus*/
.anim{
  &--0{
   animation-delay: 0s;
 }
 &--1{
   animation-delay: 0.2s;
 }
 &--2{
   animation-delay: 0.4s;
 }
   
} 

@keyframes progress {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
}
  }

/*animation rotation du check*/
@keyframes rotate {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg)
	}
}

/*spinner*/
.loader {
  margin: auto;
  border: 10px solid white;
  border-radius: 50%;
  border-top: 10px solid  $color-primary;
  border-bottom : 10px solid  $color-secondary ;
  width: 50px;
  height: 50px;
  animation: spinner 2s linear infinite;
  position : absolute;
  top : 0; left :0; right:0; bottom : 0;
}



@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





  
