/*animation arrivée progressive plats des menus*/
.anim{
  &--0{
   animation-delay: 0s;
 }
 &--1{
   animation-delay: 0.2s;
 }
 &--2{
   animation-delay: 0.4s;
 }
   
} 

@keyframes progress {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
}
  }

/*animation rotation du check*/
@keyframes rotate {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg)
	}
}



  
